body {
    margin: 0;
    padding: 0;
    background-color: #B5B5B5;
    color: #68228B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*::-webkit-scrollbar { width: 12px;}

*::-webkit-scrollbar-track { background: #B5B5B5; }

*::-webkit-scrollbar-thumb {
    background-color: #68228B;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

header {
    position: fixed;
    z-index: 2;
    display: flex;
    top: 0;
    
}

nav {
    box-shadow: 0 0 7px #000;
    width: 100vw;
    height: 70px;
    background-color: #68228B;
}

header ul {
    position: relative;
    margin-top: 25px;
    justify-content: space-around;

}

header ul li {
    position: relative;
    display: inline-flex;
    text-transform: capitalize;
}

header a {
    text-decoration: none;
    color: #B5B5B5;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    margin: 0 15px 0 15px;
}

.burguer-container{
    cursor: pointer;
    z-index: 3;
    position: fixed;
    right: 5%;
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color: #68228B;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: #68228B;
}

.change .bar2 {
    opacity: 0;
    background-color: #68228B;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
    background-color: #68228B;
}

#sobre {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    margin: 200px 0 80px 0;
    max-height: 350px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    box-shadow: 0 0 20px #000;
}

#sobre h2{
    position: relative;
    left: 5%;
    margin-top: 80px;
    margin-left: 100px;
    font-size: 3.5rem;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
    
}

#sobre article{
    height: 350px;
    margin: 0;
    text-align: center;
}

#sobre article p{
    font-size: 1.3rem;
    margin-left: 80px;
    text-shadow: 0px 0px 1px #000;
}

#criadores article:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.article-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}

.article-1 h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
} 

.article-1 figure img {
    position: relative;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
}

#criadores article:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.article-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}

.article-2 h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
} 

.article-2 figure img {
    position: relative;
    margin-right: 100px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
}

.description {
    text-shadow: 0px 0px 1px #000;
}

@media (max-width: 992px) {
    .burguer-container {
        display: fixed;
    }

    .navbar-desktop {
        display: none;
    }

    #sobre {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-shadow: none;
        border: none;
        margin-left: 0;
    }

    #sobre h2 {
        text-align: center;
        width: 90vw;
        margin-left: 0;
        font-size: 2.5rem;
    }

    #sobre article {
        height: 100px;
    }

    #sobre article p {
        width: 95vw;
        margin-left: 0;
        font-size: 1.1rem;
    }

    #criadores {
        width: 100vw;
        justify-content: center;
    }

    .article-1 {
        flex-direction: column-reverse;
        text-align: center;
    }

    .article-1 h2{
        font-size: 1.9rem;
    }

    .article-1 figure img{
        border-radius: 60%;
        width: 260px;
        height: 250px;
    }

    .article-2 {
        flex-direction: column;
        text-align: center;
    }

    .article-2 h2{
        font-size: 1.9rem;
    }

    .article-2 figure img{
        border-radius: 60%;
        width: 260px;
        height: 250px;
        margin-right: 0;
    }

    .description {
        width: 95vw;
    }

}

@media (min-width: 993px) {
    .burguer-container {
        display: none;
    }
}
