
body {
    margin: 0;
    padding: 0;
    background-color: #B5B5B5;
    color: #68228B;
    scroll-behavior: smooth;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*::-webkit-scrollbar { width: 12px;}

*::-webkit-scrollbar-track { background: #B5B5B5; }

*::-webkit-scrollbar-thumb {
    background-color: #68228B;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

header {
    position: fixed;
    z-index: 2;
    display: flex;
    top: 0;
}

nav {
    box-shadow: 0 0 7px #000;
    width: 100vw;
    height: 70px;
    background-color: #68228B;
}


.hamburguer {
    display: none;
    float: right;
    right: 10px;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.hamburguer:focus {
    outline: none;
}

header ul {
    position: relative;
    margin-top: 25px;
    justify-content: space-around;
}

header ul li {
    position: relative;
    display: inline-flex;
    text-transform: capitalize;
}

header a {
    text-decoration: none;
    color: #B5B5B5;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    margin: 0 15px 0 15px;
}

#sobre {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    padding: 45px;
    margin: 200px 0 80px 0;
    height: 400px;
    width: 65%;
    
}

#sobre iframe {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#sobre article p{
    font-size: 1.3rem;
    margin-left: 80px;
    text-shadow: 0px 0px 1px #000;
}

#criadores article:nth-child(1){
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.article-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}

#criadores #titulo {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0px 0px 3px #000;
}
.article-1 h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
} 

.article-1 figure img {
    position: relative;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
}

#criadores article:nth-child(2){
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.article-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}

.article-2 h2 {
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0px 0px 3px #000;
} 

.article-2 figure img {
    position: relative;
    margin-right: 100px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
}

.description {
    text-shadow: 0px 0px 1px #000;
    max-width: 680px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #68228B;
    text-align: center;
    color: #B5B5B5;
    text-shadow: 0 0 2px #000;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
    color: #B5B5B5;
}

footer a:hover {
    text-decoration: none;
    color: #8B8378;
}

@media screen and (max-width: 992px) {

    nav {
        position: fixed;
        float: right;
        top: 0;
        background: none;
        border: none;
        box-shadow: none;
        height: auto;
        width: screen;
    }

    .nav-ul {
        display: none;
    }

    .nav-ul a{
        margin: 5px 0 5px 0;
        padding: 0;
    }

    .nav-ul.show {
        position: fixed;
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #68228B;
        color: #B5B5B5;
        text-shadow: 0 0 2px #000;
    }

    .hamburguer { 
        position: fixed;
        display: block;
        top: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    #sobre {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: none;
        border: none;
        width: 90%;
        left: 0;
        padding: 0;
        transform: translate(0);
        align-content: center;
        justify-content: center;
    }

    #sobre iframe {
        height: 300px;
        margin: auto;
        left: 40%;
    }

    #criadores {
        width: 100vw;
        justify-content: center;
    }

    .article-1 {
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 100px;
    }

    .article-1 h2{
        font-size: 1.9rem;
    }

    .article-1 figure img{
        border-radius: 60%;
        width: 260px;
        height: 250px;
    }

    .article-2 {
        flex-direction: column;
        text-align: center;
    }

    .article-2 h2{
        font-size: 1.9rem;
    }

    .article-2 figure img{
        border-radius: 60%;
        width: 260px;
        height: 250px;
        margin-right: 0;
    }

    .description {
        width: 95vw;
    }

    footer a {
        text-decoration: none;
        color: #6e6e6e;
    }

    
}


